<section class="latest-posts-section bg-dark page-content">
  <div class="container">
    <h2 class="pb-4 text-light">Threads</h2>
    <div class="container" *ngFor="let thread of threads">
      <div class="row justify-content-center">
        <div class="card mb-4 p-0" style="max-width: 18rem">
          <img *ngIf="thread.imageUrl"
            [src]="thread.imageUrl"
            class="card-img-top"
            alt="Thread Image"
          />
          <div class="d-flex align-items-center px-2 py-2">
            <div>
              <h6 class="mb-0">{{ thread.username }}</h6>
              <small class="text-muted">{{ thread.date }}</small>
            </div>
          </div>

          <div class="card-body p-2">
            <h6 class="card-title mb-2" style="font-size: 1rem">
              {{ thread.postTitle }}
            </h6>
            <p class="card-text" style="font-size: 0.9rem">
              {{ thread.postText }}}
            </p>
          </div>

          <div class="card-footer bg-transparent p-1">
            <button type="button" class="btn btn-outline-primary btn-sm me-2">
              <i class="far fa-thumbs-up me-1"></i> Like
            </button>
            <button type="button" class="btn btn-outline-secondary btn-sm me-2">
              <i class="far fa-comment-alt me-1"></i> Comment
            </button>
            <button type="button" class="btn btn-outline-secondary btn-sm">
              <i class="far fa-share-square me-1"></i> Share
            </button>
            <button *ngIf="thread.username === loggedUser"
              type="button"
              class="btn btn-outline-danger btn-sm float-end"
            >
              <i class="far fa-trash-alt me-1"></i> Delete
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
