<section class="latest-posts-section bg-dark page-content">
  <div class="container">
    <h2 class="pb-4 text-light">Threads</h2>
    
    <div class="container" *ngFor="let thread of threads">
      <div class="row justify-content-center">
        <div class="card mb-4 p-0" style="max-width: 18rem">
          <div class="d-flex align-items-center px-2 py-2">
            <div class="d-flex">
              <img
                [src]="thread.profile_picture"
                alt="User"
                draggable="false"
                height="30"
                class="rounded-circle me-2"
                style="max-width: 30px; max-height: 30px; object-fit: cover;"
              />
              <small class="mb-0">{{ thread.username }}</small>
              <small class="text-muted px-2">{{ thread.date }}</small>
            </div>
          </div>

          <div class="card-body p-2">
            <h6 class="card-title mb-2" style="font-size: 1rem">
              {{ thread.postTitle }}
            </h6>
            <p class="card-text" style="font-size: 0.9rem">
              {{ thread.postText }}
            </p>
          </div>
          <img *ngIf="thread.imageUrl"
            [src]="thread.imageUrl"
            class="card"
            alt="Thread Image"
          />

          <div class="card-footer bg-transparent p-1">
            <button *ngIf="thread.username === loggedUser"
            type="button" (click)="openEdit(thread)" data-mdb-button-init data-mdb-ripple-init data-bs-toggle="modal" data-bs-target="#exampleModal"
            class="btn btn-outline-success btn-sm"
          >
            <i class="far fa-trash-alt me-1"></i> Editar
          </button>

          <button  *ngIf="isSignedIn"
          type="button" (click)="onComment(thread)" data-mdb-button-init data-mdb-ripple-init data-bs-toggle="modal" data-bs-target="#exampleModal"
          class="btn btn-outline-primary btn-sm mx-2"
        >
          <i class="far fa-trash-alt me-1"></i> Comentar
        </button>
            <button *ngIf="thread.username === loggedUser"
              type="button" (click)="openDelete(thread)" data-mdb-button-init data-mdb-ripple-init data-bs-toggle="modal" data-bs-target="#exampleModal"
              class="btn btn-outline-danger btn-sm float-end"
            >
              <i class="far fa-trash-alt me-1"></i> Excluir
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
