
<footer class="bg-dark text-white">
  <div class="container py-5">
    <div class="row">
      <div class="col-md-6">
        <img src="assets/images/logo_BitThreads.png" alt="BitThreads Logo" class="img-fluid" style="max-height: 100px;">
        <p class="mt-4">BitThreads é uma plataforma de mídia social onde você pode se conectar com amigos, descobrir conteúdo inspirador e participar de conversas interessantes.</p>
      </div>
      <div class="col-md-3">
        <h5>Links Úteis</h5>
        <ul class="list-unstyled">
          <li><a href="#">Sobre Nós</a></li>
          <li><a href="#">Termos de Serviço</a></li>
          <li><a href="#">Política de Privacidade</a></li>
          <li><a href="#">Contato</a></li>
        </ul>
      </div>
      <div class="col-md-3">
        <h5>Redes Sociais</h5>
        <ul class="list-unstyled">
          <li><a href="#"><i class="fab fa-facebook"></i> Facebook</a></li>
          <li><a href="#"><i class="fab fa-instagram"></i> Instagram</a></li>
          <li><a href="#"><i class="fab fa-twitter"></i> Twitter</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="text-center py-3" style="background-color: #343a40;">
    <p class="mb-0">© 2024 BitThreads. Todos os direitos reservados.</p>
  </div>
</footer>