<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <div class="container">
    <div class="d-flex align-items-center flex-wrap">
      <a class="navbar-brand"
        ><img
          src="assets/images/logo_BitThreads.png"
          alt="BitThreads"
          draggable="false"
          height="30"
      /></a>
    </div>
    <button
      class="navbar-toggler"
      type="button"
      data-mdb-toggle="collapse"
      data-mdb-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <i class="fas fa-bars"></i>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-3 mx-4 d-flex gap-3">
        <li class="nav-item align-items-center" >
          <button
            (click)="redirect('')"
            class="w-auto text-decoration-none p-0 border-0 bg-transparent text-white align-items-center"
          >
            Home
          </button>
        </li>
        <li class="nav-item align-items-center" >
          <button
            (click)="redirect('threads')"
            class="w-auto text-decoration-none p-0 border-0 bg-transparent text-white align-items-center"
          >
            Threads
          </button>
        </li>
        <li *ngIf="isSignedIn && isRoute('/threads')" class="nav-item align-items-center" >
          <button
          (click)="redirect('threads/create_thread')"
          class="w-auto text-decoration-none p-0 border-0 bg-transparent text-white align-items-center"
        >
          Post
        </button></li>
        
      </ul>

      <!-- Search form -->
      <form class="d-flex align-items-center w-100 form-search">
        <div class="input-group">
          <button
            class="btn btn-light dropdown-toggle shadow-0"
            type="button"
            data-mdb-toggle="dropdown"
            aria-expanded="false"
            style="padding-bottom: 0.4rem"
          >
            All
          </button>
          <ul class="dropdown-menu dropdown-menu-dark fa-ul">
            <!-- Dropdown menu content -->
          </ul>
          <input
            type="search"
            class="form-control"
            placeholder="Search"
            aria-label="Search"
          />
        </div>
        <a href="#!" class="text-white"><i class="fas fa-search ps-3"></i></a>
      </form>

      <ul class="navbar-nav ms-3">
        <span class="text-decoration-none text-white align-items-center"></span>

        <li
          *ngIf="!isSignedIn"
          class="nav-item align-items-center"
          style="width: 65px"
        >
          <button
            (click)="redirect('signin')"
            class="w-auto text-decoration-none p-0 border-0 bg-transparent text-white align-items-center"
          >
            Entrar
          </button>
        </li>

        <li
          *ngIf="isSignedIn"
          class="nav-item align-items-center"
          style="width: 65px"
        >
          <button
            (click)="logout()"
            class="w-auto text-decoration-none p-0 border-0 bg-transparent text-white align-items-center"
          >
            Logout
          </button>
        </li>
      </ul>
    </div>
  </div>
</nav>
