/* Position the profile overlay */
.profile-overlay {
  z-index: 1; /* Ensure it's above the background */
}


.bottom-0 {
  bottom: 0;
}

.start-0 {
  left: 0;
}

.translate-middle-y {
  transform: translateY(50%);
}


@media (min-width: 768px) {
  .profile-picture {
    position: absolute;
    bottom: 0;
    left: 10px;
    max-width: 123px;
    max-height: 123px;
    object-fit: cover;
  }
}

@media (max-width: 576px) {
  .profile-picture {

    bottom: 0;
    max-width: 100px;
    max-height: 100px;
    object-fit: cover;
  }
}