<div class="container d-flex justify-content-center" style="height: fit-content;">
  <section style="margin-top: 120px">
    <div class="card bg-dark border-black text-white" style="width: 500px; height: fit-content; border-width: 2px">
      <div id="profile" class="position-relative">
        <div
          *ngIf="user_banner_url == ''"
          class="container d-flex justify-content-center"
          style="
            background-image: url('https://via.placeholder.com/400x300');
            background-size: cover;
            background-position: center;
            width: auto;
            min-height: 200px;
            object-fit: cover;
          "
        ></div>
        <div
          *ngIf="user_banner_url != ''"
          class="container d-flex justify-content-center"
          [ngStyle]="{
            'background-image': 'url(' + user_banner_url + ')',
            'background-size': 'cover',
            'background-position': 'center',
            width: 'auto',
            'min-height': '200px',
            'object-fit': 'cover'
          }"
        ></div>

        <div class="profile-overlay bottom-0 start-0">
          <img
            *ngIf="user_profile_picture_url != ''"
            [src]="user_profile_picture_url"
            alt="User"
            draggable="false"
            height="133"
            class="rounded-circle rounded-circle-image border border-5 border-dark"
            style="
              position: absolute;
              bottom: 0;
              left: 10px;
              max-width: 123px;
              max-height: 123px;
              object-fit: cover;
            "
          />
          <img
            *ngIf="user_profile_picture_url == ''"
            src="assets/images/placeholder-user-pic.jpg"
            alt="User"
            draggable="false"
            height="133"
            class="rounded-circle rounded-circle-image border border-5 border-black"
            style="
              position: absolute;
              bottom: 0;
              left: 10px;
              max-width: 123px;
              max-height: 123px;
              object-fit: cover;
            "
          />
        </div>

        <div style="max-width: 100%" class="d-flex justify-content-end m-4">
          <button
            (click)="openEditProfile()"
            type="button"
            class="btn btn-outline-light btn-sm rounded-pill"
          >
            Editar Perfil
          </button>
        </div>
      </div>
      <div class="start-0 d-flex justify-content-start mx-2 my-2">
        <div class="container">
          <h2 class="row card-title text-center">@{{ username }}</h2>
          <h2 class="row card-title text-center">
            Bio: {{ user_description }}
          </h2>
        </div>
      </div>
      <div class="card bg-dark text-white">
        <h2 class="start-0 d-flex justify-content-start mx-2 my-2 card-title row">Suas Threads</h2>
  
        <ul class="list-group list-group-flush">
          <div class="start-0 d-flex justify-content-start mx-2 my-2 row justify-content-center">
            <div
              class="container"
              *ngFor="let thread of user_threads "
            >
              <div class="row justify-content-center p-4 ml-4">
                <div class="card bg-black text-white mb-4 p-0" style="max-width: 18rem; ">
                  <div class="d-flex align-items-center bg-dark px-2 py-2" style="margin-left: 4px;">
                    <div class="d-flex">
                      <img
                        [src]="thread.profile_picture"
                        alt="User"
                        draggable="false"
                        height="30"
                        class="rounded-circle me-2"
                        style="max-width: 30px; max-height: 30px; object-fit: cover"
                      />
                      <small class="mb-0 text-white">@{{ thread.username }}</small>
                      <small class="text-white px-2">{{ thread.date }}</small>
                    </div>
                  </div>
    
                  <div class="card-body p-8">
                    <h6 class="card-title mb-2" style="font-size: 1rem">
                      {{ thread.postTitle }}
                    </h6>
                    <p class="card-text" style="font-size: 0.9rem">
                      {{ thread.postText }}
                    </p>
                  </div>
                  <img
                    *ngIf="thread.imageUrl"
                    [src]="thread.imageUrl"
                    class="card"
                    style="object-fit: cover; margin: 24px; border: none"
                    alt="Thread Image" 
                  />
    
                  <div class="card-footer bg-transparent p-8">
                    <button
                      *ngIf="thread.username === loggedUser"
                      type="button"
                      (click)="openEdit(thread)"
                      data-mdb-button-init
                      data-mdb-ripple-init
                      data-bs-toggle="modal"
                      data-bs-target="#exampleModal"
                      class="btn btn-outline-success btn-sm"
                    >
                      <i class="far fa-trash-alt me-1"></i> Edit
                    </button>
                    <button
                      *ngIf="thread.username === loggedUser"
                      type="button"
                      (click)="openDelete(thread)"
                      data-mdb-button-init
                      data-mdb-ripple-init
                      data-bs-toggle="modal"
                      data-bs-target="#exampleModal"
                      class="btn btn-outline-danger btn-sm float-end"
                    >
                      <i class="far fa-trash-alt me-1"></i> Delete
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div>
            
          </div>
  
        </ul>
      </div>
    </div>

  </section>
</div>
