<div class="container vh-100 d-flex justify-content-center">
  <section style="margin-top: 120px">
    <div class="card bg-black text-white" style="width: 500px; height: 444px">
      <div id="profile" class="position-relative">
        <div
          class="container d-flex justify-content-center"
          style="
            background-image: url('https://via.placeholder.com/400x300');
            background-size: cover;
            background-position: center;
            width: auto;
            min-height: 200px;
          "
        ></div>

        <!-- Profile Overlay -->
        <div class="profile-overlay bottom-0 start-0">
          <img *ngIf="user_profile_picture_url != ''"
            [src]="user_profile_picture_url"
            alt="User"
            draggable="false"
            height="133"
            class="rounded-circle rounded-circle-image border border-5 border-dark"
            style="position: absolute; bottom: 0; left: 10px; max-width: 123px; max-height: 123px; object-fit: cover;"
            />
          <img *ngIf="user_profile_picture_url == ''"
          src="assets/images/placeholder-user-pic.jpg"
          alt="User"
          draggable="false"
          height="133"
          class="rounded-circle rounded-circle-image border border-5 border-dark"
          style="position: absolute; bottom: 0; left: 10px; max-width: 123px; max-height: 123px; object-fit: cover;"
        />
        </div>

        <div style="max-width: 100%;" class="d-flex justify-content-end m-4">
            <button (click)="openEditProfile()" type="button" class="btn btn-outline-light btn-sm rounded-pill">Editar Perfil</button>
        </div>
      </div>
      <div class="start-0 d-flex justify-content-start mx-2 my-2">
        <div class="container">
          <h2 class="row card-title text-center">@{{username}}</h2>
          <h2 class="row card-title text-center">Bio: {{user_description}}</h2>

        </div>
      </div>

      <div class="card-body">
      </div>
    </div>
  </section>
</div>
