::-webkit-scrollbar {
  width: 8px;
  background-color: black;
}

::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: 4px; 
}

.page-content{
  padding-top: 90px;
}

body {
  background-color: #202529;
}


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-dialog-container {
  background-color: black;
}

.mat-dialog-container .card {
  background-color: black;
  color: white;

}


.mat-dialog-container p, .mat-dialog-container h1, .mat-dialog-container h2, .mat-dialog-container h3, .mat-dialog-container h4, .mat-dialog-container h5, .mat-dialog-container h6 {
  color: white;
}