::-webkit-scrollbar {
  width: 8px;
  background-color: black;
}

::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: 4px; 
}

.page-content{
  padding-top: 90px;
}

body {
  background-color: #202529;
}

